
<table class="gameBoard nohighlight" ng-show="SignalRGameService.gameBoard.Rows">
    <tr ng-repeat="row in Range(SignalRGameService.gameBoard.Rows) track by $index" ng-init="Row = $index">
        <td ng-repeat="col in Range(SignalRGameService.gameBoard.Columns) track by $index" ng-init="Col = $index">
            <div bv-game-square ng-model="SignalRGameService.gameBoard.Squares[Row][Col]"></div>
        </td>
    </tr>
</table>
<button cg-busy="SignalRGameService.initialized" ng-click="CreateGame()">CreateGame</button><br />
Game: {{SignalRGameService.currentGame | json}}<br />
Games: {{SignalRGameService.currentGames | json}}<br />
Players: {{SignalRGameService.gamePlayers | json}}<br />
<br />
Row: <input ng-model="row" /> Col: <input ng-model="col" />
<button ng-click="Click()">Click</button><br />
Revaled Squares: {{SignalRGameService.gameBoard | json}}<br />