
<table class="gameBoard nohighlight" ng-if="gameBoard">
    <tr ng-repeat="row in Range(gameBoard.Rows) track by $index" ng-init="Row = $index">
        <td ng-repeat="col in Range(gameBoard.Columns) track by $index" ng-init="Col = $index"
            ng-click="Click(gameBoard.Squares[Row][Col])">
            <div ng-class="{unknown: gameBoard.Squares[Row][Col].Status == 0}">{{SquareStatus(gameBoard.Squares[Row][Col])}}</div>
        </td>
    </tr>
</table>
<button ng-click="CreateGame()">CreateGame</button><br />
Game: {{currentGame | json}}<br />
Games: {{currentGames | json}}<br />
Players: {{gamePlayers | json}}<br />
<br />
Row: <input ng-model="row" /> Col: <input ng-model="col" />
<button ng-click="Click()">Click</button><br />
Revaled Squares: {{gameBoard | json}}<br />